<h1>The weather for <%= @location %> is ..</h1>
<div>
  Temperature: <%= @temp %> <br>
  Description: <%= @weather_words %> <br>
  Cloud Cover: <%= @cloudiness %> <br>
  Windiness: <%= @windiness %> <br>
<img src="http://openweathermap.org/img/w/<%=@weather_icon%>.png" />







</div>